/coderunner-java/logs/*.log

/coderunner-js/logs/*.log

/limit/logs/*.log

/mongo/data/*
/mongo/logs/*.log

/mysql/data/*
/mysql/logs/*.logs

/redis/data/*
/redis/logs/*.log

/repo/*

/rt-server/logs/*.log

/server/logs/*.log

/uploader/logs/*.log

/taskman/logs/*.log

/web-console/logs/*.log

#must be at the end of the file
!/**/.gitkeep
